<nav>
  <a
    href="/"
    <a
    class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover navbar-brand"
    >Home page</a
  >
  <% if (user) { %>
  <a
    href="/posts"
    <a
    class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover navbar-brand"
    >View my Posts</a
  >
  <a
    href="/auth/sign-out"
    <a
    class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover navbar-brand"
    >Sign Out</a
  >
  <% } else { %>
  <a
    href="/auth/sign-up"
    <a
    class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover navbar-brand"
    >Sign Up</a
  >
  <a
    href="/auth/sign-in"
    <a
    class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover navbar-brand"
    >Sign In</a
  >
  <% } %>
</nav>
