<nav>
  <a href="/">Home page</a>
  <% if (user) { %>
  <a href="/posts">View my Posts</a>
  <a href="/auth/sign-out">Sign Out</a>
  <% } else { %>
  <a href="/auth/sign-up">Sign Up</a>
  <a href="/auth/sign-in">Sign In</a>
  <% } %>
</nav>
