<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include('../partials/_bootstrap.ejs') %>
  </head>
  <body>
    <form action="/posts/<%= post._id %>?_method=PUT" method="post">
      <div class="mb-3">
        <label class="form-label">Title</label>
        <input name="title" class="form-control" value="<%= post.title %>" />
      </div>
      <div class="mb-3">
        <label>Content</label>
        <textarea
          name="content"
          class="form-control"
          placeholder="Write your post here"
          style="height: 100px"
        >
<%= post.content %></textarea
        >
      </div>

      <button button type="submit" class="btn btn-success">Update Post</button>
    </form>
  </body>
</html>
